<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Army_id %><br>
    <%= f.select :Army_id, options_from_collection_for_select(Army.all(), :id, :name, selected: @unit.Army_id) %>
  </div>
  <div class="field">
    <%= f.label :Component_id %><br>
    <%= f.select :Component_id, options_from_collection_for_select(Component.all(), :id, :name, selected: @unit.Component_id) %>
  </div>
  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :introduced_id %><br>
    <%= f.select :introduced_id, options_from_collection_for_select(Edition.all(), :id, :name, selected: @unit.introduced_id) %>
  </div>
  <div class="field">
    <%= f.label :outmodded_id %><br>
    <%= f.select :outmodded_id, options_from_collection_for_select(Edition.all(), :id, :name, selected: @unit.outmodded_id), include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
