<p id="notice"><%= notice %></p>

<p>
  <strong>Army:</strong>
  <%= @unit.army.name %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @unit.organisation.name if @unit.organisation %>
</p>
<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>
<p>
 <strong>Introduced:</strong>
  <%= @unit.introduced.name if @unit.introduced %>
</p>

<p>
<% if(@unit.outmodded) %>
 <strong>Outmodded:</strong>
  <%= @unit.outmodded.name %>
</p>
<% end %>
<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
